body{
    width: 960px;
    height: 700px;
    margin: auto;
    background-color: #d32114;
}

body h1{
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

#introducao{
    height: 200px;
    background-color: #ffffff;
}

#dashboard{
    height: 400px;
    margin-top: 20px;
    background-color: #ffffff;
}

#dash_central{
    width: 800px;
    margin: auto;
    height: 350px;
    padding-top: 20px;
}

#dashboard ul{
    list-style: none;
}

#dashboard ul li{
    display: inline;
    width: 210px;
    height: 300px;
    padding: 5px 10px 5px 10px;
    float: left;
    background-color: #000000;
    color: #ffffff;
}

#img{
    width: 200px;
    height: 200px;
    position: relative;top:0;padding:4px;background-color: #fff9f6;
    transition: all .2s ease-in-out;
}

.dash{
    margin-right: 30px;
}

#dash_central ul li h6{
    margin-top: 0px;
    font-size: 20px;
}

#footer{
    height: 100px;
    margin-top: 20px;
    background-color: #000000;
    clear: both;
    color: #ffffff;
}