body{
    width: 960px;
    height: 700px;
    margin: auto;
    background-color: #d32114;
}

body h1{
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

body h2{
    text-align: center;
}

#principal{
    width: 700px;
    height: 570px;
    float: left;
    background-color: #ffffff;
}
#menu_lateral{
    width: 260px;
    height: 570px;
    float: right;
    color: #ffffff;
    background-color: #000000;
}

#menu_lateral p{
    text-align: center;
}

hr{
    width: 958px;
}
ul li{
    margin-left: 60px;
    margin-bottom: 10px;
}

#listas li:hover{
    background-color: #767676;
    cursor: pointer; /*mãozinha aparece quando o mouse está em cima*/
}

#bt{
    width: 50px;
    height: 30px;
}

#loading{
    display: none;
    margin-top: 150px;
    margin-left: 300px;
}

hr{
    clear: both;
}

#rodape{
    height: 100px;
    background-color: #000000;
    clear: both;
    color: #ffffff;
}